:root {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--col-text);
  background-color: var(--col-back);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}